.header_outside {
  width: 100%;
  height: 148px;
  border-bottom: 1px solid #e5e5e5;
}

.header_outside .header_content {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.header_outside .header_content h1 {
  padding-top: 26px;
  float: left;
}

.header_outside .header_content h1 a img {
  width: 162px;
  height: 106px;
}

.header_outside .header_content section {
  float: left;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 96px;
}

.header_outside .header_content section form {
  padding-left: 24px;
  padding-bottom: 4px;
}

.header_outside .header_content section form div {
  width: 562px;
  height: 42px;
  box-sizing: border-box;
  border: 2px solid #4097ec;
  display: flex;
  margin-bottom: 12px;
}

.header_outside .header_content section form div input {
  display: inline-block;
  box-sizing: border-box;
  width: 448px;
  height: 38px;
  padding-left: 14px;
  line-height: 38px;
  outline: none;
}

.header_outside .header_content section form div button {
  color: white;
  flex: 1;
  text-align: center;
  line-height: 38px;
  height: 100%;
  background: #4097ec;
  cursor: pointer;
}

.header_outside .header_content section form label {
  color: #999999;
  margin-right: 30px;
}

.header_outside .header_content section nav {
  height: 39px;
}

.header_outside .header_content section nav li {
  float: left;
  height: 100%;
}

.header_outside .header_content section nav li a {
  height: 100%;
  color: #222222;
  font-size: 14px;
  line-height: 39px;
  padding: 0 27px;
}

.header_outside .header_content section nav li .active {
  color: #4097ec;
}

.header_outside .header_content section nav li:first-child a {
  padding-left: 0;
}

.header_outside .header_content figure {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-top: 30px;
}

.header_outside .header_content figure figcaption {
  width: 72px;
  height: 42px;
  background: #fdf5ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #ff6600;
  margin-right: 12px;
  font-size: 12px;
}

.header_outside .header_content figure article p {
  color: #4097ec;
}

#main_outside {
  background: #f6f6f6;
  width: 100%;
}

#main_outside .main_content {
  width: 1200px;
  margin: 0 auto;
}

#main_outside .main_content .section1_content {
  height: 380px;
  padding-top: 15px;
}

#main_outside .main_content .section1_content nav {
  float: left;
  margin-right: 16px;
  padding: 0 20px;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
}

#main_outside .main_content .section1_content nav li {
  flex: 1;
}

#main_outside .main_content .section1_content nav li a {
  display: block;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
}

#main_outside .main_content .section1_content nav li a i {
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
}

#main_outside .main_content .section1_content article {
  float: left;
  margin-right: 15px;
}

#main_outside .main_content .section1_content aside {
  float: left;
  background: #fff;
  height: 100%;
  width: 288px;
}

#main_outside .main_content .section1_content aside div {
  text-align: center;
  padding: 20px;
}

#main_outside .main_content .section1_content aside div img {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-bottom: 4px;
}

#main_outside .main_content .section1_content aside div p {
  font-size: 12px;
  color: #222222;
  margin-bottom: 16px;
}

#main_outside .main_content .section1_content aside div a {
  display: inline-block;
  width: 100px;
  height: 32px;
  border-radius: 2px;
  line-height: 32px;
  text-align: center;
}

#main_outside .main_content .section1_content aside div a:nth-child(3) {
  font-size: 12px;
  color: white;
  background: #4097ec;
}

#main_outside .main_content .section1_content aside div a:nth-child(4) {
  font-size: 12px;
  color: #4097ec;
  border: 1px solid #4097ec;
}

#main_outside .main_content .section1_content aside .section1_content_aside_nav1 {
  height: 30px;
  display: flex;
  padding: 0 20px;
}

#main_outside .main_content .section1_content aside .section1_content_aside_nav1 li {
  flex: 1;
  height: 100%;
  border-bottom: 3px solid #eeeeee;
  font-size: 12px;
  color: #222222;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

#main_outside .main_content .section1_content aside .section1_content_aside_nav1 .active {
  color: #4097ec;
  border-bottom: 3px solid #4097ec;
}

#main_outside .main_content .section1_content aside .section1_content_aside_nav2 {
  padding: 10px 20px 0 20px;
}

#main_outside .main_content .section1_content aside .section1_content_aside_nav2 li {
  font-size: 12px;
  color: #333333;
  line-height: 28px;
  text-overflow: ellipsis;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
}

#main_outside .main_content .section2_content {
  margin-top: 20px;
  height: 87px;
  background: #fff;
}

#main_outside .main_content .section2_content article {
  display: flex;
  float: left;
}

#main_outside .main_content .section2_content article img {
  width: 87px;
  height: 87px;
}

#main_outside .main_content .section2_content article div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#main_outside .main_content .section2_content article div p {
  width: 330px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  color: #333333;
}

#main_outside .main_content .section2_content aside {
  float: right;
  display: flex;
  height: 100%;
}

#main_outside .main_content .section2_content aside div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 152px;
  height: 100%;
}

#main_outside .main_content .section2_content aside div:last-child p {
  border-right: 0;
}

#main_outside .main_content .section2_content aside div p {
  text-align: center;
  font-size: 14px;
  color: #333333;
  border-right: 1px solid #cccccc;
}

#main_outside .main_content .section2_content aside div p span {
  color: #f38c2b;
  font-size: 20px;
  font-weight: bold;
}

#main_outside .main_content .section3_content {
  margin-top: 20px;
  background: #fff;
  height: 144px;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}

#main_outside .main_content .section3_content span {
  display: inline-block;
  height: 64px;
  width: 1px;
  background: #e6e6e6;
}

#main_outside .main_content .section3_content div {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #222222;
}

#main_outside .main_content .section3_content div img {
  width: 90px;
  height: 90px;
  margin-bottom: 12px;
}

#main_outside .main_content .section4_content h3 {
  font-size: 20px;
  color: #303030;
  margin-top: 50px;
  margin-bottom: 23px;
  position: relative;
}

#main_outside .main_content .section4_content h3 a {
  color: #303030;
  position: absolute;
  right: 0;
  font-size: 14px;
}

#main_outside .main_content .section4_content h3 a i {
  margin-left: 5px;
}

#main_outside .main_content .section4_content section article {
  float: left;
  border: 1px solid #e5e5e5;
  width: 588px;
  height: 360px;
  margin-right: 24px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}

#main_outside .main_content .section4_content section article h4 {
  font-size: 14px;
  color: #222222;
  margin-bottom: 14px;
  font-weight: normal;
}

#main_outside .main_content .section4_content section article img {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  height: 250px;
}

#main_outside .main_content .section4_content section article span {
  color: #222222;
  display: inline-block;
  margin-top: 18px;
  font-size: 18px;
  font-weight: normal;
}

#main_outside .main_content .section4_content section aside {
  float: left;
  width: 588px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main_outside .main_content .section4_content section aside div {
  width: 100%;
  height: 168px;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}

#main_outside .main_content .section4_content section aside div hgroup {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#main_outside .main_content .section4_content section aside div hgroup h5 {
  font-size: 14px;
  color: #222;
  font-weight: normal;
}

#main_outside .main_content .section4_content section aside div hgroup h4 {
  font-size: 18px;
  color: #222222;
  font-weight: normal;
}

#main_outside .main_content .section4_content section aside div img {
  display: block;
  float: right;
  width: 217px;
  height: 128px;
}

#main_outside .main_content .section5_content h3 {
  font-size: 20px;
  color: #303030;
  margin-top: 50px;
  margin-bottom: 23px;
  position: relative;
}

#main_outside .main_content .section5_content h3 a {
  color: #303030;
  position: absolute;
  right: 0;
  font-size: 14px;
}

#main_outside .main_content .section5_content h3 a i {
  margin-left: 5px;
}

#main_outside .main_content .section5_content article {
  display: flex;
  flex-wrap: wrap;
}

#main_outside .main_content .section5_content article div {
  width: 548px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  background: #fff;
  margin-bottom: 20px;
}

#main_outside .main_content .section5_content article div:nth-child(2n+1) {
  margin-right: 20px;
}

#main_outside .main_content .section5_content article div:nth-last-child(2), #main_outside .main_content .section5_content article div:last-child {
  margin-bottom: 0;
}

#main_outside .main_content .section5_content article div hgroup {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#main_outside .main_content .section5_content article div hgroup h5 {
  font-size: 14px;
  color: #222;
  font-weight: normal;
}

#main_outside .main_content .section5_content article div hgroup h4 {
  font-size: 18px;
  color: #222222;
  font-weight: normal;
}

#main_outside .main_content .section5_content article div img {
  display: block;
  float: right;
  width: 217px;
  height: 128px;
}

#main_outside .main_content .section6_content {
  height: 90px;
  padding-top: 55px;
  padding-bottom: 53px;
}

.footer_top {
  width: 100%;
  background: #fff;
}

.footer_top .footer_top_content {
  width: 1200px;
  margin: 0 auto;
}

.footer_top .footer_top_content h3 {
  font-size: 20px;
  color: #303030;
  margin-top: 50px;
  margin-bottom: 24px;
  position: relative;
}

.footer_top .footer_top_content h3 a {
  color: #303030;
  position: absolute;
  right: 0;
  font-size: 14px;
}

.footer_top .footer_top_content h3 a em {
  color: #4097ec;
  margin-left: 30px;
}

.footer_top .footer_top_content h3 a i {
  margin-left: 5px;
}

.footer_top .footer_top_content article {
  margin-bottom: 55px;
}

.footer_top .footer_top_content article div {
  float: left;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.footer_top .footer_top_content article div:last-child {
  float: right;
}

.footer_bottom {
  width: 100%;
  background: #232830;
}

.footer_bottom .footer_bottom_content {
  width: 1200px;
  margin: 0 auto;
}

.footer_bottom .footer_bottom_content article {
  border-bottom: 2px solid #2c3139;
}

.footer_bottom .footer_bottom_content article:last-child {
  border-bottom: 0;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a1 {
  line-height: 62px;
  color: #eee;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a1 a {
  color: #eee;
  border-right: 1px solid #eee;
  padding: 0 15px;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a1 a:last-child {
  border-right: 0;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a2 {
  padding-top: 32px;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a2 ul {
  padding-right: 220px;
  float: left;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a2 ul li {
  color: #eee;
  margin-bottom: 30px;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a2 ul:nth-child(2) {
  padding-right: 0;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a2 ul:nth-child(2) li {
  margin-bottom: 18px;
  color: #6d7a87;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a2 aside {
  float: right;
  text-align: center;
  font-size: 14px;
  color: #eee;
  padding-bottom: 32px;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a2 aside img {
  margin-top: 14px;
  width: 119px;
  height: 119px;
}

.footer_bottom .footer_bottom_content .footer_bottom_content_a3 {
  line-height: 82px;
  color: #72808d;
  font-size: 12px;
  text-align: center;
}
